:root {
  --mainColor: #568a25;
  --secondaryColor: #63883f;

  --borderColor: #161914;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;

  --previewBg: rgba(95, 116, 75, 0.8);
  --previewShadow: #2a2f25;

  --buttonColor: #669966;
}
