<head>
    <link rel="icon" href="../public/images/galaxy.svg" />
    <script src="../public/dist/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../public/css_themes/default.css" />
    <link rel="stylesheet" href="../public/css_themes/generativeart.css" />

    <title>Generative Art</title>
</head>

<body>
    <div class="main-container">
        <div class="greeting-wrapper center">
            <h1 style="margin-bottom: 10px">Generative Art Gallery</h1>
            <p>Generative Art are pieces of art created through writing code. They often use algorithms and elements of randomization.
                <br>
                <br> Click on each image to play the animation. Double click for fullscreen and video player. Note that animations do not work as intended on mobile. </p>
        </div>
        
        <div class="nav-wrapper">
            <div class="dots-wrapper">
                <div id="dot-1" class="browser-dot"></div>
                <div id="dot-2" class="browser-dot"></div>
                <div id="dot-3" class="browser-dot"></div>
            </div>

            <ul id="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/digitalart">Digital Art</a></li>
                <li><a href="/generativeart">Generative Art</a></li>
                <li><a href="/#about_section">Contact</a></li>
            </ul>
        </div>

        <div class="gallery"></div>

        <div class="center" style="padding-top: 30px;">
            <p>You may not copy, modify, sell or distribute these images or animations without my permission. </p>
            <p>© 2022 CW Media Productions. All Rights Reserved</p>
        </div>
    </div>

    <script type="text/javascript" src="../public/generative_art_script.js"></script>
</body>