<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../public/images/galaxy.svg" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="../public/css_themes/default.css" />
    <link id="theme-style" rel="stylesheet" href="" />

    <script src="../public/dist/jquery-3.5.1.min.js"></script>
    <link href="../public/dist/toast.style.min.css" rel="stylesheet">
    <script src="../public/dist/toast.script.js"></script>

    <title>Chen W.</title>
</head>

<body>
    <section class="s1">
        <div class="main-container">
            <div class="greeting-wrapper">
                <h1>Chen Wang</h1>
            </div>

            <div class="intro-wrapper">
                <div class="nav-wrapper">
                    <div class="dots-wrapper">
                        <div id="dot-1" class="browser-dot"></div>
                        <div id="dot-2" class="browser-dot"></div>
                        <div id="dot-3" class="browser-dot"></div>
                    </div>

                    <ul id="navigation">
                        <li><a href="#about_section">Contact</a></li>
                    </ul>
                </div>

                <div class="left-column">
                    <img id="profile_pic" src="../public/images/philly-profile-cropped.jpg" alt="" />
                    <h5 style="text-align: center; line-height: 0;">
                        Personalize Theme
                    </h5>

                    <div id="theme-options-wrapper">
                        <div data-mode="light" id="light-mode" class="theme-dot"></div>
                        <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
                        <div data-mode="green" id="green-mode" class="theme-dot"></div>
                        <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
                    </div>

                    <p id="settings-note">
                        *Theme settings will be saved for your next visit
                    </p>
                </div>
                <div class="right-column">
                    <div id="preview-shadow">
                        <div id="preview">
                            <div id="corner-tl" class="corner"></div>
                            <div id="corner-tr" class="corner"></div>
                            <div class="bio-div">
                                <div>
                                    <h3>Introduction</h3>
                                </div>
                                <div class="linkedin"><a target="_blank"
                                        href="https://www.linkedin.com/in/chen-wang179//"><img
                                            src="../public/images/linkedin.svg" alt="" height="30px" width="30px" /></a>
                                </div>
                            </div>
                            <p>
                                I have a degree in Computer Science and minor in Mathematics from MIT.
                                Post graduation, I am a software engineer.
                            </p>
                            <div id="corner-bl" class="corner"></div>
                            <div id="corner-br" class="corner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s2">
        <div class="main-container">
            <div class="about-wrapper">
                <div class="about-me">
                    <h4>More</h4>
                    <p>
                        Outside of software development, I am interested
                        in applying statistical methods and programming to
                        solve data driven problems. My
                        <a target="_blank" href="https://github.com/sirDevelop">Github</a>
                        contains the source code of my coding projects as well as the
                        jupyter notebooks of my data science projects. These are publicly
                        available for educational purposes.
                    </p>
                    <hr />

                    <h4>Skills and Experiences</h4>
                    <p>
                        Software Developer and Data Scientist:
                        <a target="_blank" href="../public/resume.pdf">Resume</a>
                    </p>

                    <div id="skills">
                        <ul>
                            <li>HTML/(S)CSS</li>
                            <li>Javascript/Typescript</li>
                            <li>Node.js</li>
                            <li>Angular</li>
                            <li>React</li>
                        </ul>
                        <ul>
                            <li>Python</li>
                            <li>Java</li>
                            <li>SQL</li>
                            <li>R</li>
                        </ul>
                    </div>
                </div>

                <div class="social-links">
                    <h4>Interesting Facts</h4>
                    <div id="skills" class="facts">
                        <p>
                        <ul>
                            <li>As a kid, my dream job was a magician</li>
                            <li>At age 4, I almost fell off a 5 story building</li>
                            <li>I have worked at 6 different tech companies</li>
                            <li>I was a triathlete</li>
                            <li>My favorite dog is a Corgi</li>
                            <li>I was only 2 classes short of a math major</li>
                            <li>My family owns a Chinese/Japanese fusion restaurant</li>
                            <li>I am an amateur guitarist</li>
                            <li>I loved 'Vampire Diaries' and 'The Originals'</li>
                            <li>I was vegetarian for 3 years and vegan for 1 year</li>
                            <li>I don't drink coffee</li>
                            <li>My dream car is a Tesla</li>
                            <li>I am a Virgo</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s1">
        <div class="main-container">
            <h3 style="text-align: center;">A few past projects</h3>

            <div class="post-wrapper">
                <div>
                    <div class="post">
                        {{!-- <img class="thumbnail" src="../public/images/countdown-project.png" alt="" /> --}}
                        <a target="_blank" href="https://github.com/sirDevelop/countdown-calculator"><img
                                class="thumbnail" src="../public/images/countdown-project.png" alt="" /></a>
                        <div class="post-preview">
                            <h6>Countdown Timer </h6>
                            <p class="post-intro">
                                Web application that allows users to choose a date in the
                                future and displays the time remaining until that date in the
                                form of a countdown timer. Project coded in React.
                            </p>
                            <a target="_blank" href="https://github.com/sirDevelop/countdown-calculator">Source
                                Code</a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="post">
                        <a target="_blank" href="https://github.com/sirDevelop/producer"><img class="thumbnail"
                                src="../public/images/producer-project.png" alt="" /></a>
                        {{!-- <img class="thumbnail" src="../public/images/producer-project.png" alt="" /> --}}
                        <div class="post-preview">
                            <h6>Musical Beat Producer </h6>
                            <p class="post-intro">
                                Web application that allows users to create a sequence of
                                beats to form a musical track. There are 16 drum pads each
                                with a different sound. User can control the drum pads using
                                the keyboard or by clicking on the pad. User can choose to set
                                the tempo from 0 bpm tp 300 bpm. Project coded in Angular.
                            </p>
                            <a target="_blank" href="https://github.com/sirDevelop/producer">Source Code</a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="post">
                        <a target="_blank" href="https://github.com/sirDevelop/DataScienceGuidedCapstone">
                            <img class="thumbnail" src="../public/images/ds-capstone.png" alt="" /></a>
                        {{!-- <img class="thumbnail" src="../public/images/ds-capstone.png" alt="" /> --}}
                        <div class="post-preview">
                            <h6>Analysis of Ski Data </h6>
                            <p class="post-intro">
                                A data science project with 5 Jupyter Notebooks detailing the
                                process of analyzing a large dataset of ski data. This
                                includes data wrangling, EDA, preprocessing and training the
                                data, creating a model and generating predictions, and coming
                                to a conclusion about the data.
                            </p>
                            <a target="_blank" href="https://github.com/sirDevelop/DataScienceGuidedCapstone">Source
                                Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about_section" class="s2">
        <div class="main-container">
            <h3 style="text-align: center;">Get In Touch</h3>
            <form id="contact-form" method="POST" action="send">
                <label>Name</label>
                <input class="input-field" type="text" name="name" required />

                <label>Subject</label>
                <input class="input-field" type="text" name="subject" required />

                <label>Email</label>
                <input class="input-field" type="email" name="email" required />

                <label>Message</label>
                <textarea class="input-field" type="text" name="message" required></textarea>

                <input id="submit-btn" type="submit" value="Send" />
            </form>
        </div>
    </section>

    <section id="ending" class="s1">
        <h4>
            <p>
                Happily Employed At the Moment
            </p>
            <a target="_blank" href="https://github.com/sirDevelop">Github</a>
        </h4>

        <h6>
            <p>Built and maintained by yours truly</p>
        </h6>
    </section>

    <script type="text/javascript" src="../public/script.js"></script>
</body>

</html>