<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../public/image/galaxy.svg" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="../public/css_themes/default.css" />
    <link rel="stylesheet" href="../public/css_themes/digitalart.css" />
    <link id="theme-style" rel="stylesheet" href="" />


    <link rel="import" id="navbar" href="../views/navbar.html">

    <script src="../public/dist/jquery-3.5.1.min.js"></script>
    <link href="../public/dist/toast.style.min.css" rel="stylesheet">
    <script src="../public/dist/toast.script.js"></script>
    <script src="https://kit.fontawesome.com/d6cd3cec5d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../public/digital_art_script.js"></script>

    <title>Cheng Wang</title>
</head>

<body>
    <section id="intro" class="s1">
        <div class="main-container intro">
            <div class="greeting-wrapper">
                <div class="slight-expand-on-hover">
                    <h1>Cheng Wang</h1>
                </div>
            </div>

            <div class="intro-wrapper bg1">
                <div class="nav-wrapper">
                    <div class="dots-wrapper">
                        <div id="dot-1" class="browser-dot slight-expand-on-hover"></div>
                        <div id="dot-2" class="browser-dot slight-expand-on-hover"></div>
                        <div id="dot-3" class="browser-dot slight-expand-on-hover"></div>
                    </div>
                    <ul id="navigation">
                        <li><a href="/#intro" onclick="hideSection('digital_art')">Home</a></li>
                        <li><a href="/#digital_art" onclick="hideSection('intro')">Digital Art</a></li>
                        {{!-- <li><a href="/generativeart">Generative Art</a></li> --}}
                        <li><a href="/#about">Contact</a></li>
                    </ul>
                </div>

                <div class="left-column">
                    <div class="slideshow-container slight-expand-on-hover">
                        <div class="mySlides"><img id="profile_pic" src="../public/image/skydive-landing-2.jpg"
                                alt="" /></div>
                        <div class="mySlides"><img id="profile_pic" src="../public/image/skydive1.jpg" alt="" /></div>
                        <div class="mySlides"><img id="profile_pic" src="../public/image/skydive2.jpg" alt="" /></div>
                        <div class="mySlides"><img id="profile_pic" src="../public/image/skydive3.jpg" alt="" /></div>
                        <div class="mySlides"><img id="profile_pic" src="../public/image/skydive4.jpg" alt="" /></div>
                        <div class="mySlides"><img id="profile_pic" src="../public/image/Indra1.jpg" alt="" /></div>
                        <div class="mySlides"><img id="profile_pic" src="../public/image/Indra2.jpg" alt="" /></div>
                        <div class="mySlides"><img id="profile_pic" src="../public/image/Marco2.jpg" alt="" /></div>
                        <div class="mySlides"><img id="profile_pic" src="../public/image/Marco1.jpg" alt="" /></div>

                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>

                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                        <span class="dot" onclick="currentSlide(4)"></span>
                        <span class="dot" onclick="currentSlide(5)"></span>
                        <span class="dot" onclick="currentSlide(6)"></span>
                        <span class="dot" onclick="currentSlide(7)"></span>
                        <span class="dot" onclick="currentSlide(8)"></span>
                        <span class="dot" onclick="currentSlide(9)"></span>
                    </div>

                    <h5 style="text-align: center; line-height: 0;">Personalize Theme </h5>

                    <div class="slight-expand-on-hover" id="theme-options-wrapper">
                        <div data-mode="light" id="light-mode" class="theme-dot"></div>
                        <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
                        <div data-mode="red" id="red-mode" class="theme-dot"></div>
                        <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
                    </div>

                    <p id="settings-note">
                        *Theme settings will be saved for your next visit
                    </p>
                </div>
                <div class="right-column">
                    <div id="preview-shadow">
                        <div id="preview">
                            <div id="corner-tl" class="corner"></div>
                            <div id="corner-tr" class="corner"></div>
                            <div class="bio-div">
                                <div class="slight-expand-on-hover">
                                    <h3>Introduction</h3>
                                </div>
                                <div class="linkedin slight-expand-on-hover"><a target="_blank"
                                        href="https://www.linkedin.com/in/cwcw11//"><img
                                            src="../public/image/linkedin.svg" alt="" height="40px" width="40px" /></a>
                                </div>
                            </div>
                            <p>I graduated MIT in 2018 with a major in Computer Science and minor in Math.</p>
                            <div id="corner-bl" class="corner"></div>
                            <div id="corner-br" class="corner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="digital_art" class="s1">
        <div class="main-container">
            <div class="greeting-wrapper center">
                <h1 style="margin-bottom: 10px">Digital Art Gallery</h1>
                <p>Created using Chaotica, all rights reserved.</p>
                <p>Click on each image to expand.</p>
            </div>

            <div class="nav-wrapper">
                <div class="dots-wrapper">
                    <div id="dot-1" class="browser-dot"></div>
                    <div id="dot-2" class="browser-dot"></div>
                    <div id="dot-3" class="browser-dot"></div>
                </div>

                <ul id="navigation">
                    <li><a href="/#intro" onclick="hideSection('digital_art')">Home</a></li>
                    <li><a href="/#digital_art" onclick="hideSection('intro')">Digital Art</a></li>
                    <!-- <li><a href="/generativeart">Generative Art</a></li> -->
                    <li><a href="/#about">Contact</a></li>
                </ul>
            </div>
            <div id="gallery"></div>
        </div>
    </section>
    <section id="more" class="s2">
        <div class="main-container">
            <div class="about-wrapper">
                <div class="about-me">
                    <div class="slight-expand-on-hover">
                        <h4>More</h4>
                    </div>
                    <p>
                        Outside of software development, I am interested
                        in big data problems and creating software generated art. My
                        <a target="_blank" href="https://github.com/sirDevelop">Github</a>
                        contains the source code of some of my coding projects and the
                        jupyter notebooks of some of my data science projects.
                    </p>
                    <hr />
                    <div class="slight-expand-on-hover">
                        <h4>Skills and Experiences</h4>
                    </div>
                    <p>
                        Software Developer and Data Scientist:
                        <a target="_blank" href="../public/resume.pdf">Resume</a>
                    </p>

                    <div id="skills">
                        <ul>
                            <li>HTML/(S)CSS</li>
                            <li>Javascript/Typescript</li>
                            <li>Node.js</li>
                            <li>Angular</li>
                            <li>Java</li>
                            <li>Python</li>
                        </ul>
                        <ul>
                            <li>MongoDB</li>
                            <li>SQL</li>
                            <li>R</li>
                            <li>Processing</li>
                        </ul>
                    </div>
                </div>

                <div class="social-links">
                    <div class="slight-expand-on-hover">
                        <h4>Facts About Me</h4>
                    </div>
                    <div id="facts" class="facts">
                        <p>
                        <ul>
                            <li>I own and ride 3 unicycles</li>
                            <li>I am a B-licensed skydiver with over 150 skydives</li>
                            <li>I have 2 white Shiba Inus named Marco and Indra</li>
                            <li>I used to be a delivery driver for <a target="_blank"
                                    href="http://www.benichopsticks.us/">my family restaurant</a></li>
                            <li>I am a Go/Baduk player. If you play on OGS, my username is <a target="_blank"
                                    href="https://online-go.com/user/view/1397763">windie</a>. I welcome match requests
                            </li>
                            <li>I sell my own product on <a target="_blank"
                                    href="https://www.amazon.com/Artistic-Large-Mouse-Artwork-Name/dp/B0BYPW8X18">Amazon</a>
                            </li>
                            <li>I am an online tutor on <a target="_blank"
                                    href="https://www.wyzant.com/Tutors/cw95">Wyzant</a></li>
                            <li>I am working towards my associate's degree in Music</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="music" class="s1">
        <div class="main-container music">
            <div class="slight-expand-on-hover">
                <h4>Music for Your Enjoyment</h4>
            </div>
            <div class="intro-wrapper bg2">
                <div class="left-column">
                    <iframe style="border-radius:12px"
                        src="https://open.spotify.com/embed/playlist/7ma9JNkfy35Pa00tVcGYo7?utm_source=generator"
                        width="70%" height="352" frameBorder="0" allowfullscreen=""
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                        loading="lazy"></iframe>
                </div>
                <div class="right-column">
                    <iframe style="border-radius:12px"
                        src="https://open.spotify.com/embed/playlist/3DTzgeNFvfHiefFnY3bzjL?utm_source=generator"
                        width="70%" height="352" frameBorder="0" allowfullscreen=""
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                        loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </section>

    <section id="past_projects" class="s2">
        <div class="main-container">
            <div class="slight-expand-on-hover">
                <h3 style="text-align: center;">A Few Past Projects</h3>
            </div>

            <div class="post-wrapper">
                <div>
                    <div class="post">
                        <a target="_blank" href="https://github.com/sirDevelop/beat-maker"><img class="thumbnail"
                                src="../public/image/beatmaker-project.png" alt="" /></a>
                        <div class="post-preview">
                            <h6>Musical Beat Maker</h6>
                            <p class="post-intro">
                                Web application that allows users to choose between 4 different kicks, 4 different
                                snares, and 4 different hihats to produce a beat. The tempo can be adjusted from 20 bpm
                                up to 300 bpm.
                            </p>
                            <a target="_blank" href="https://github.com/sirDevelop/beat-maker">Source Code</a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="post">
                        <a target="_blank" href="https://github.com/sirDevelop/producer"><img class="thumbnail"
                                src="../public/image/producer-project.png" alt="" /></a>
                        {{!-- <img class="thumbnail" src="../public/image/producer-project.png" alt="" /> --}}
                        <div class="post-preview">
                            <h6>Musical Beat Producer </h6>
                            <p class="post-intro">
                                Web application that allows users to create a sequence of
                                beats to form a musical track. User can control up to 16 drum pads using
                                the keyboard or by mouse click, and set the tempo from 0 bpm tp 300 bpm.
                                Coded in Angular.
                            </p>
                            <a target="_blank" href="https://github.com/sirDevelop/producer">Source Code</a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="post">
                        <a target="_blank" href="https://github.com/sirDevelop/DataScienceGuidedCapstone">
                            <img class="thumbnail" src="../public/image/ds-capstone.png" alt="" /></a>
                        {{!-- <img class="thumbnail" src="../public/image/ds-capstone.png" alt="" /> --}}
                        <div class="post-preview">
                            <h6>Analysis of Ski Data</h6>
                            <p class="post-intro">
                                A data science project with 5 Jupyter Notebooks detailing the
                                process of analyzing a large dataset of ski data. This includes data cleaning and 
                                preprocessing, creating a model, and concluding recommendations.
                            </p>
                            <a target="_blank" href="https://github.com/sirDevelop/DataScienceGuidedCapstone">Source
                                Code</a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="post">
                        <a target="_blank" href="https://github.com/sirDevelop/Cyclistic-Bike-Study">
                            <img class="thumbnail" src="../public/image/cyclistic-project.png" alt="" /></a>
                        <div class="post-preview">
                            <h6>Analysis of Cyclistic Bike Share</h6>
                            <p class="post-intro">
                                An end to end data science project analyzing one year's worth of Cyclistic Rider Data. We created visualizations and insights 
                                based on member vs casual rider behavior and recommendations were given on how to convert casual riders to members.
                            </p>
                            <a target="_blank" href="https://github.com/sirDevelop/Cyclistic-Bike-Study">Source
                                Code</a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="post">
                        <a target="_blank" href="https://github.com/sirDevelop/portfolio-website">
                            <img class="thumbnail" src="../public/image/portfolio-website.png" alt="" /></a>
                        <div class="post-preview">
                            <h6>This Personal Website!</h6>
                            <p class="post-intro">
                                A full stack personal website involving HTML, CSS, Javascript, and a Node.js backend. Featuring lots of personally created digital artwork.
                            </p>
                            <a target="_blank" href="https://github.com/sirDevelop/portfolio-website">Source
                                Code</a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="post">
                        <a target="_blank" href="https://github.com/sirDevelop/London-Housing-Data-Analysis">
                            <img class="thumbnail" src="../public/image/london-housing-analysis.png" alt="" /></a>
                        <div class="post-preview">
                            <h6>Analysis of London Housing Prices</h6>
                            <p class="post-intro">
                                A comparison over various boroughs in London of housing prices between 1998 and 2018. After data extraction and cleaning, visualizations and supporting conclusions are provided.
                            </p>
                            <a target="_blank" href="https://github.com/sirDevelop/London-Housing-Data-Analysis">Source
                                Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="s1">
        <div class="main-container" id="about_section2">
            <h3 style="text-align: center;">
                <div class="slight-expand-on-hover">
                    Get In Touch
                </div>
            </h3>
            <form id="contact-form" method="POST" action="send">
                <label>Name</label>
                <input class="input-field" type="text" name="name" required />

                <label>Subject</label>
                <input class="input-field" type="text" name="subject" required />

                <label>Email</label>
                <input class="input-field" type="email" name="email" required />

                <label>Message</label>
                <textarea class="input-field" type="text" name="message" required></textarea>

                <input id="submit-btn" type="submit" value="Send (Currently Disabled b/c of Spamming)" disabled />
            </form>
        </div>
    </section>

    <section id="ending" class="s2">
        <h4>
            <div class="slight-expand-on-hover">
                <p>
                    Looking for Work
                </p>
            </div>
            <div class="slight-expand-on-hover">
                <a target="_blank" href="https://github.com/sirDevelop">Github</a>
            </div>
        </h4>

        <h6>
            <div class="slight-expand-on-hover">
                <p>Built and maintained by yours truly</p>
            </div>
        </h6>
    </section>

    <script type="text/javascript" src="../public/script.js"></script>
</body>

</html>